@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Color Map Scheme for Scores */
  --perfect: #2196F3;
  --excellent: #009688;
  --great: #34AE54;
  --good:#7EB83D;
  --average: #E19D00;
  --bad: #FF6739;
  --miss: #DE3C31;

  /* Hover variants */
  --perfect-hover: #1B7EC2;     /* Darker shade of blue */
  --excellent-hover: #00796B;   /* Darker shade of teal */
  --great-hover: #2D9148;       /* Darker shade of green */
  --good-hover: #6B9D33;        /* Darker shade of lime green */
  --average-hover: #Bf8400;     /* Darker shade of amber */
  --bad-hover: #E85C32;         /* Darker shade of orange */
  --miss-hover: #B42E29;        /* Darker shade of red */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}