@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Color Map Scheme for Scores */
  --perfect: #2196F3;
  --excellent: #009E8F;
  --great: #26A64D;
  --good: #6DA41B;
  --average: #C49515;
  --bad: #E36A00;
  --miss: #C5272F;

  /* Hover Variants */
  --perfect-hover: #1976C1;
  --excellent-hover: #007C70;
  --great-hover: #1F8240;
  --good-hover: #5A8416;
  --average-hover: #9B7A11;
  --bad-hover: #B35400;
  --miss-hover: #9D2127;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
